.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: 0;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid #bbb;
  font-size: 1.2rem;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #3e67e2;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}

.button:hover {
  background-color: #5478e3;
}
