.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: 0;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
}
